/*
main{
    display: grid;
    grid-template-rows: repeat(6, 1fr);
}

.main-wrapper{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-auto-flow: column;
    border: solid 2px #000;
}

*/
body{
    margin: 0;
    font-family: roboto, sans-serif;
}
.main-navbar{
    display: flex;
    background-color: transparent;
    min-width: 12rem;
    border: solid 2px transparent;
    justify-content: center;
}
/*
.main-navbar ul{
    display: flex;
    justify-content: center;
}
.main-navbar li{
    list-style: none;
    margin: 1em;
}
.main-navbar a{
    text-decoration: none;
}
*/
.main-navbar{
    border-bottom: solid 1px #999;
}
.main-navbar button{
    background-color: transparent;
    border: none;    
    margin: 1em 2em;
}
.main-navbar button:hover{
    border-bottom: solid 1px #999;    
}
SECOND NAVEGATION BAR

.second-navbar{
    background-color: transparent;
    min-width: 10rem;
    border: solid 2px #000;
}
.second-navbar ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.second-navbar li{
    list-style: none;
    margin: 1em;
}
.second-navbar a{
    text-decoration: none;

}
/*SECTIONS*


.wrapper-items{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    border: solid 2px #000;
    justify-content: space-around;
}
.section-mark{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    border: solid 2px #000;
}
.banner{
    width: 100px;
    height: 100px;
    border: solid 2px #000;
}

/*PRODUCT
.product{
    background-color: #555;
    width: 200px;
    height: 200px;
    border: solid 2px #000;
}

.explore{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
*/
.main .banner{
    width: 80%;
    height: auto;
}
.main .banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.contenedor {
    display: grid;
    grid-template-areas:
      "header header header"
      "sidebar main main"
      "footer footer footer";
    grid-template-columns: 200px 1fr 1fr; /* Sidebar fijo, contenido flexible */
    grid-template-rows: 80px auto 50px;
  }
.header { 
    grid-area: header;
    padding-top: 1em;
}
.sidebar { grid-area: sidebar; }
.main { grid-area: main; }
.footer { grid-area: footer; }
.wrapper-items{
    display: flex;
    flex-wrap: wrap;
    border: solid 1px transparent;
    flex-grow: 1;
}
.product{
    background-color: transparent;
    width: 200px;
    height: 200px;
    border: solid 2px transparent;
}
.product .image-product{
    width: 100%;
    height: 70%;
}
.product .image-product img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer {
    display: flex;                      
    flex-wrap: wrap;                    
    justify-content: space-around; 
}
.footer .footCard{
    display: flex;
    flex-direction: column;             
    align-items: flex-start;
    width: calc(20% - 20px); 
    height: auto;
}