* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
    margin: 0;
    font-family: 'Roboto', Inter, sans-serif;
}
.header {
    box-sizing: border-box;
    display: flex; 
    grid-area: header;
    padding-top: 1em;
    justify-content: space-between;
    align-items: center;
    padding: 0 4em;
    margin: 2em 0 2em 0;
}
.main{
    padding: 0 4em;
}
/*MAIN NAVBAR*/
.main-navbar{
    display: flex;
    background-color: transparent;
    min-width: 12rem;
    border: solid 2px transparent;
    justify-content: center;
}

.main-navbar .nav-button{
    background-color: transparent;
    border: solid 1px transparent;    
    margin: 1em 2em;
}
.main-navbar .nav-button:hover{
    border-bottom: solid 1px #999;    
}
.nav-banner{
    display: flex;
    flex-direction: row;
}
/*SECOND NAVEGATION BAR*/
.second-navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    min-width: 10rem;
}
.second-navbar button{
    background-color: transparent;
    border-color: transparent;
    margin: 1em;
    padding: 0 0.5em;
    width: fit-content;
}
.second-navbar button:hover{
    border-bottom: solid 1px #999;
    
}

/*MAIN BANNER*/
.nav-banner .banner{
    width: 80%;
    height: auto;
}
.nav-banner .banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*SECTION*/
.section-mark{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3em 0 3em 0;
}
/*PRODUCTS*/
.wrapper-items{
    display: flex;
    flex-wrap: wrap;
    border: solid 1px transparent;
    flex-grow: 1;
    gap: 2em;
}
/* Lista de productos */
.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F5F5F5;
    padding: 20px;
    border-radius: 10px;
}
.product:hover{
    box-shadow: 0 2px 5px 0 #666;
}

.product img {
    width: 100%;
    max-height: 150px;
    object-fit: contain;
}

.product-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.product h4.discount{
    background-color: #DB4444;
    border-radius: 4px;
    color: #fff;
    width: 55px;
    height: 26px;
    text-align: center;
}
.product h4.new{
    background-color: #01fd38;
    border-radius: 4px;
    color: #fff;
    width: 55px;
    height: 26px;
    text-align: center;
}
.product p.price{
    font-size: 16px;
    color: #DB4444;
    width: 100%;
}
.product span{
    font-size: 16px;
    color: #00000071;
    padding-left: 10px;
}
.product h3{
    font-size: 16px;
    text-align: start;
    width: 100%;
    padding: 10px 0 10px 0;
}
.product .add {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    align-items: center;
    gap: 10px;
}
.add img{
   width: 20px;
   height: 20px;
}

.product button.add:hover{
    background-color: #01fd38;
}
.product-header button{
    background: transparent;
    border: none;
    cursor: pointer;
    width: auto;
    height: auto;
}


/*footer*/

.footer{
    margin: 0;
    padding: 40px 0 20px 0;
    display: flex;
    justify-content: space-between;
    background-color: #000;
}
.footer p.copyright{
    color: #e4e4e486;
    font-size: 14px;
    margin-top: 40px;
    text-align: center;
    border-top: #e4e4e486 1px solid;
    padding-top: 10px;
}
.footer_container{
    max-width: 1200px;
    margin: 0 auto;
}
.footer_row{
display: flex;
flex-wrap: wrap;

}
.footer_links{
    width: 20%;
    padding: 0 10px
}
.footer_links h4{
font-size: 20px;
color: #fff;
margin-bottom: 25px;
font-weight: 500;
padding-bottom: 10px;
display: inline-block;
}
.footer_links h2{
    color: #fff;
    margin-bottom: 24px;
}
.footer_links .email_box{
    display: flex;
    align-items: center;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 10px;
}
.footer_links .email_box button{
    background: none;
    border-style: none;
    height: 20px;
}
.footer_links input.email{
    background: transparent;
    border-radius: 4px;
    border-color: #e4e4e4;
    border-style: none;
    width: 160px;
    height: 20px;
}
.footer_links p{
    color: #e4e4e4;
    margin-bottom: 10px;
    font-size: 12px;
}
.footer_links ul li a{
    font-size: 16px;
    color: #e4e4e4;
    text-decoration: none;
    display: block;
    margin-bottom: 15px;
    transition: all 0.3s ease;
}
.footer_links ul li a:hover{
    color: #ffffff;
    
}

.footer_links .social_media img{
 padding-inline: 10px;
}

.footer_links .download {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #000;
    padding-bottom: 15px;
}
.footer_links .download .download_buttons{
    display: flex;
    flex-direction: column;
}
/*footer end*/