/* Estilos generales */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    color: #333;
   
}
.container{
    padding: 2em 0 0 2em ;
}
header p {
    font-size: 14px;
    color: #777;
}
.header {
    box-sizing: border-box;
    display: flex; 
    grid-area: header;
    padding-top: 1em;
    justify-content: space-between;
    align-items: center;
    padding: 0 4em;
    margin: 2em 0 2em 0;
}
h2{
    padding-bottom: 40px;
    padding-top: 20px;
}
/*MAIN NAVBAR*/
.user-navbar .search-bar{
    width: fit-content;
}
.user-navbar .search-bar .search-input{
    background-color: transparent;
    border: none;
}
.user-navbar .search-bar .search-input:focus{
    outline: none;
}
.user-navbar{
    display: flex;
    gap: 0.5em
}
.main-navbar{
    display: flex;
    background-color: transparent;
    min-width: 12rem;
    border: solid 2px transparent;
    justify-content: center;
}
.main-navbar .nav-button{
    background-color: transparent;
    border: solid 1px transparent;    
    margin: 1em 2em;
}
.main-navbar .nav-button:hover{
    border-bottom: solid 1px #999;    
}
.user-navbar .icon-nav-button{
    background: transparent;
    border: none;
    cursor: pointer;
    width: auto;
    height: auto;
}
.user-navbar .icon-nav-button img{
    width: 20px;
    height: auto;
    object-fit: contain;
    border-radius: inherit;
}
.nav-banner{
    display: flex;
    flex-direction: row;
}

/* Sección Our Story */
.ourStory {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
}

.ourStory .text {
    width: 50%;
    padding-right: 20px;
}

.ourStory h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.ourStory p {
    font-size: 16px;
    line-height: 1.6;
}

.ourStory img {
    width: 45%;
    height: auto;
    border-radius: 10px;
}

/* Información de estadísticas */
.stat-information {
    padding: 40px 0;
}

.card-list {
    display: flex;
    justify-content: space-between;
    padding: 3em;
    gap: 20px;
}

.card {
    align-content: center;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 20px;
    text-align: center;
    flex: 1;
    max-width: 255px;
    min-height: 255px;
}
.card:hover{
    background-color: #DB4444;
}

.card img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}
.card:hover img.shop {
    content: url('assets/icons/shoplight-icon.png'); 
    transform: scale(1.1); 
    transition: transform 0.3s ease, content 0.3s ease;
}
.card:hover img.coin {
    content: url('assets/icons/coinligth-icon.png'); 
    transform: scale(1.1); 
    transition: transform 0.3s ease, content 0.3s ease;
}
.card:hover img.bag {
    content: url('assets/icons/baglight-icon.png'); 
    transform: scale(1.1); 
    transition: transform 0.3s ease, content 0.3s ease;
}
.card:hover img.moneybag {
    content: url('assets/icons/moneybagligth-icon.png'); 
    transform: scale(1.1);
    transition: transform 0.3s ease, content 0.3s ease;
}
.card:hover img.bus {
    content: url('assets/icons/busligth-icon.png'); 
    transform: scale(1.1); 
    transition: transform 0.3s ease, content 0.3s ease;
}
.card:hover img.headphones {
    content: url('assets/icons/headphoneslight-icon.png');
    transform: scale(1.1); 
    transition: transform 0.3s ease, content 0.3s ease;
}
.card:hover img.security {
    content: url('assets/icons/securitylight-icon.png'); 
    transform: scale(1.1); 
    transition: transform 0.3s ease, content 0.3s ease;
}
.card h2 {
    font-size: 24px;
    color: #333;
}

.card h3 {
    font-size: 14px;
    color: #777;
}

/* Equipo */
.ourTeam {
    padding: 50px 0;
}

.team {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.team-member {
    text-align: start;
    padding: 20px;
    border-radius: 10px;
    background: #fff;
    flex: 1;
}

.team-member img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.team-member h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.team-member p {
    font-size: 14px;
    color: #777;
}

.social-media ul {
    display: flex;
    gap: 10px;
    list-style: none;
    margin-top: 15px;
}

.social-media img {
    width: 20px;
    height: 20px;
}

/* Beneficios */
.data {
    padding: 50px 0;
}

.data .card-list {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding: 3em;
}

.data .card {
    text-align: center;
    border: none;
}

.data .card h2 {
    font-size: 18px;
    margin: 10px 0;
}

.data .card h3 {
    font-size: 14px;
    color: #777;
}

.header {
    box-sizing: border-box;
    display: flex; 
    grid-area: header;
    padding-top: 1em;
    justify-content: space-between;
    align-items: center;
    padding: 0 4em;
    margin: 2em 0 2em 0;
}
/*MAIN NAVBAR*/
.main-navbar{
    display: flex;
    background-color: transparent;
    min-width: 12rem;
    border: solid 2px transparent;
    justify-content: center;
}

.main-navbar .nav-button{
    background-color: transparent;
    border: solid 1px transparent;    
    margin: 1em 2em;
}
.main-navbar .nav-button:hover{
    border-bottom: solid 1px #999;    
}

